In [1]:
import pandas as pd
import numpy as np

In [2]:
path_dados = 'original_data/aggregated/'

In [3]:
remuneracao_jul = pd.read_csv(path_dados+'remuneracao_transparencia_jul_2021.csv',
                             sep=';')

In [4]:
remuneracao_jul.sample(3)

,qtd_servidores_orgao,cd_registro_funcional,cd_tipo_vinculo,nm_servidor,tp_servidor,dc_secretaria,dc_cargo,dc_cargo_base,dc_cargo_comissionado,vl_remuneracao_mensal,vl_outro_elemento_remuneracao,vl_remuneracao_total_bruta,cd_caso_especial,dc_tipo_logradouro_servidor,nm_logradouro_servidor,nr_logradouro_servidor,tx_complemento_logradouro_servidor,qt_hora_jornada_semanal
12166,22493,7113617,2,ITALO GIORDANO FILHO,ATIVOS,SECRETARIA MUNICIPAL DA SAUDE,ASSISTENTE DE GESTAO DE POLITICAS PUBLICAS NIV...,ASSISTENTE DE GESTAO DE POLITICAS PUBLICAS NIV...,NaN,"R$ 2.422,18","R$ 1.232,75","R$ 3.654,93",NaN,Rua,GASTAO RAUL DE FORTON BOUSQUET,377.0,NaN,40 H
35924,82094,6788165,2,ANDREIA ROSARIO DOS SANTOS,ATIVOS,SECRETARIA MUNICIPAL DE EDUCACAO,PROFESSOR ED INFANTIL E ENS FUNDAMENTAL CAT 3,PROFESSOR ED INFANTIL E ENS FUNDAMENTAL CAT 3,NaN,"R$ 7.930,55","R$ 412,23","R$ 8.342,78",NaN,PraÃ§a,GOMES CARNEIRO,30.0,NaN,JEI FORMACAO
34379,82094,8036471,1,ANA SILVIA CORREA DA SILVA,ATIVOS,SECRETARIA MUNICIPAL DE EDUCACAO,PROFESSOR EDUCACAO INFANTIL CAT 3,PROFESSOR EDUCACAO INFANTIL CAT 3,NaN,"R$ 5.872,07","R$ 353,34","R$ 6.225,41",NaN,Rua,BOIPEVA,270.0,NaN,30 H

In [5]:
remuneracao_jul.dtypes

qtd_servidores_orgao                    int64
cd_registro_funcional                   int64
cd_tipo_vinculo                         int64
nm_servidor                            object
tp_servidor                            object
dc_secretaria                          object
dc_cargo                               object
dc_cargo_base                          object
dc_cargo_comissionado                  object
vl_remuneracao_mensal                  object
vl_outro_elemento_remuneracao          object
vl_remuneracao_total_bruta             object
cd_caso_especial                      float64
dc_tipo_logradouro_servidor            object
nm_logradouro_servidor                 object
nr_logradouro_servidor                float64
tx_complemento_logradouro_servidor     object
qt_hora_jornada_semanal                object
dtype: object

In [6]:
quadros_tecnicos = pd.read_csv('project_data/quadros_tecnicos_pmsp.csv', sep=';')

In [7]:
quadros_tecnicos.sample(3)

,REGISTRO,VINCULO,NOME,CARGO_BASICO,REF_CARGO_BAS,SEGMENTO,GRUPO,SUBGRUPO,ESCOL_CARGO_BASICO,CARGO_COMISSAO,...,REL_JUR_ADM,SECRET_SUBPREF,SETOR,ORGAO_EXT,SEXO,ANO_NASCIMENTO,RACA,DEFICIENTE,nivel_limpo,cargo_limpo
3299,8411620,1,ANDRE CORREA DA SILVA,ANALISTA PLANEJAMENTO DESENV ORGANIZACIONAL NI...,Q2,TECNOLOGIA DA INFORMACAO E COMUNICACAO,QAA,SUPERIOR,SUPERIOR COMPLETO,DIRETOR DE DIVISAO TECNICA,...,EFETIVO,SECRETARIA MUNICIPAL DA FAZENDA,SECRETARIA MUNICIPAL DA FAZENDA,NaN,M,1985,BRANCA,NAO,I,ANALISTA PLANEJAMENTO DESENV ORGANIZACIONAL
1899,7786484,1,LIVIA LEONI DOMINGUES SILVA,ANALISTA DE INFORMACOES CULTURA E DESPORTO NIV...,Q6,BIBLIOTECONOMIA,QAA,SUPERIOR,SUPERIOR COMPLETO,ASSESSOR TECNICO I,...,EFETIVO,SECRETARIA MUNICIPAL DE CULTURA,SUPERVISAO DE ATENDIMENTO AO PUBLICO,NaN,F,1983,BRANCA,NAO,II,ANALISTA DE INFORMACOES CULTURA E DESPORTO
400,5937043,2,HEITOR BRASIL JUNIOR,ARQUITETO CLASSE I,QPD22E,ARQUITETURA,QPDU,SUPERIOR,SUPERIOR COMPLETO,NaN,...,EFETIVO,SUBPREFEITURA ITAIM PAULISTA,UNIDADE TECNICA DE APROVACAO DE PROJETOS,NaN,M,1950,BRANCA,NAO,I,ARQUITETO

In [8]:
quadros_tecnicos.dtypes

REGISTRO                 int64
VINCULO                  int64
NOME                    object
CARGO_BASICO            object
REF_CARGO_BAS           object
SEGMENTO                object
GRUPO                   object
SUBGRUPO                object
ESCOL_CARGO_BASICO      object
CARGO_COMISSAO          object
REF_CARGO_COM           object
ESCOL_CARGO_COMISSAO    object
DATA_INICIO_EXERC       object
REL_JUR_ADM             object
SECRET_SUBPREF          object
SETOR                   object
ORGAO_EXT               object
SEXO                    object
ANO_NASCIMENTO           int64
RACA                    object
DEFICIENTE              object
nivel_limpo             object
cargo_limpo             object
dtype: object

In [9]:
quadros_tecnicos['REGISTRO'] = quadros_tecnicos['REGISTRO'].apply(lambda x: str(int(x)))
remuneracao_jul['cd_registro_funcional'] = remuneracao_jul['cd_registro_funcional'].apply(lambda x: str(int(x)))

In [10]:
quadros_tecnicos['REGISTRO'].duplicated().sum()

2

In [11]:
quadros_tecnicos[quadros_tecnicos['REGISTRO'].duplicated(keep=False)]

,REGISTRO,VINCULO,NOME,CARGO_BASICO,REF_CARGO_BAS,SEGMENTO,GRUPO,SUBGRUPO,ESCOL_CARGO_BASICO,CARGO_COMISSAO,...,REL_JUR_ADM,SECRET_SUBPREF,SETOR,ORGAO_EXT,SEXO,ANO_NASCIMENTO,RACA,DEFICIENTE,nivel_limpo,cargo_limpo
2961,8235511,1,KELLY MARGARETH SANTOS DA CUNHA,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q3,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,EFETIVO,SECRETARIA MUNICIPAL DE ASSIST E DESENV SOCIAL,CENTRO POP MOOCA,NaN,F,1982,PARDA,NAO,I,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL
2962,8235511,3,KELLY MARGARETH SANTOS DA CUNHA,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q4,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,EFETIVO,SECRETARIA MUNICIPAL DA SAUDE,HM DR. ALEXANDRE ZAIO,NaN,F,1982,PARDA,NAO,I,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL
3105,8303959,2,DENISE HARFUCH NAVARRO DIOGO TAVARES,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q1,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,EFETIVO,SECRETARIA MUNICIPAL DE ASSIST E DESENV SOCIAL,CRAS JARDIM ANGELA,NaN,F,1962,BRANCA,NAO,I,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL
3106,8303959,3,DENISE HARFUCH NAVARRO DIOGO TAVARES,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q4,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,EFETIVO,SECRETARIA MUNICIPAL DA SAUDE,HM DR. ARTHUR RIBEIRO DE SABOYA,NaN,F,1962,BRANCA,NAO,I,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL

In [12]:
dropar_primeiros_vinculos =  quadros_tecnicos['REGISTRO'].duplicated(keep='last')
quadros_tecnicos = quadros_tecnicos[~dropar_primeiros_vinculos].reset_index(drop=True).copy()

In [13]:
remuneracao_jul['cd_registro_funcional'].duplicated().sum()

10606

In [14]:
df_joined = pd.merge(quadros_tecnicos, remuneracao_jul, how='inner', 
         left_on='REGISTRO', right_on='cd_registro_funcional')

In [15]:
len(df_joined)

3504

In [16]:
len(quadros_tecnicos)

3552

In [17]:
3554-3508

46

In [18]:
servidores_fora = tuple(rf for rf in quadros_tecnicos['REGISTRO'].unique() if rf not in df_joined['REGISTRO'].unique())

In [19]:
len(servidores_fora)

98

In [20]:
df_joined['cd_registro_funcional'].isin(servidores_fora).sum()==0

True

In [21]:
df_joined['REGISTRO'].isin(servidores_fora).sum()==0

True

In [22]:
remuneracao_jul['cd_registro_funcional'].isin(servidores_fora).sum()==0

True

In [23]:
df_joined['REGISTRO'].duplicated().sum()==df_joined['cd_registro_funcional'].duplicated().sum()

True

In [24]:
mais_de_um_lancamento = df_joined[df_joined['REGISTRO'].duplicated(keep=False)].sort_values(by='REGISTRO')

In [25]:
mais_de_um_lancamento

,REGISTRO,VINCULO,NOME,CARGO_BASICO,REF_CARGO_BAS,SEGMENTO,GRUPO,SUBGRUPO,ESCOL_CARGO_BASICO,CARGO_COMISSAO,...,dc_cargo_comissionado,vl_remuneracao_mensal,vl_outro_elemento_remuneracao,vl_remuneracao_total_bruta,cd_caso_especial,dc_tipo_logradouro_servidor,nm_logradouro_servidor,nr_logradouro_servidor,tx_complemento_logradouro_servidor,qt_hora_jornada_semanal
16,3033201,4,TOKIKO AKAMINE,ANALISTA DE ORDENAMENTO TERRITORIAL NIVEL IV,Q17,SOCIOLOGIA,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 16.609,81","R$ 2.325,37","R$ 18.935,18",NaN,Rua,ZILDA,193.0,NaN,JB DOCENTE
17,3033201,4,TOKIKO AKAMINE,ANALISTA DE ORDENAMENTO TERRITORIAL NIVEL IV,Q17,SOCIOLOGIA,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 16.043,35","R$ 5.929,03","R$ 21.972,38",NaN,Rua,DO PARAISO,387.0,NaN,40 H
427,6013651,2,MARCIA BATISTA NOGUEIRA SHIMODA,ANALISTA PLANEJAMENTO DESENV ORGANIZACIONAL NI...,Q10,CIENCIAS CONTABEIS,QAA,SUPERIOR,SUPERIOR COMPLETO,ASSESSOR II,...,ASSESSOR II,"R$ 9.283,14","R$ 1.711,86","R$ 10.995,00",NaN,Rua,AUGUSTA,435.0,7Âº ANDAR,40 H
428,6013651,2,MARCIA BATISTA NOGUEIRA SHIMODA,ANALISTA PLANEJAMENTO DESENV ORGANIZACIONAL NI...,Q10,CIENCIAS CONTABEIS,QAA,SUPERIOR,SUPERIOR COMPLETO,ASSESSOR II,...,ASSESSOR II,"R$ 9.283,14","R$ 1.711,86","R$ 10.995,00",NaN,Rua,AUGUSTA,435.0,7Âº ANDAR,40 H
678,6375677,3,ELAINE DE ALMEIDA SOUSA,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q1,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 3.729,56","R$ 815,50","R$ 4.545,06",NaN,Rua,AMERICO SALVADOR NOVELLI,154.0,1Âº ANDAR,30 H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3403,8562431,1,SILVANA COSTA FERREIRA SENAHA,"PROFISSIONAL ENG, ARQ, AGRONOMIA,GEOLOGIA NIVEL I",QEAG1,GEOLOGIA,QEAG,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 7.035,00","R$ 1.095,75","R$ 8.130,75",NaN,Rua,LIBERO BADARO,425.0,36Âº ANDAR,40 H
3404,8562431,1,SILVANA COSTA FERREIRA SENAHA,"PROFISSIONAL ENG, ARQ, AGRONOMIA,GEOLOGIA NIVEL I",QEAG1,GEOLOGIA,QEAG,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 7.035,00","R$ 1.095,75","R$ 8.130,75",NaN,Rua,LIBERO BADARO,425.0,36Âº ANDAR,40 H
3495,8878013,1,CAIO CHRISTOFOLLETTI,"PROFISSIONAL ENG, ARQ, AGRONOMIA,GEOLOGIA NIVEL I",QEAG1,GEOLOGIA,QEAG,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 7.035,00","R$ 412,23","R$ 7.447,23",NaN,Rua,LIBERO BADARO,425.0,36Âº ANDAR,40 H
3494,8878013,1,CAIO CHRISTOFOLLETTI,"PROFISSIONAL ENG, ARQ, AGRONOMIA,GEOLOGIA NIVEL I",QEAG1,GEOLOGIA,QEAG,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 7.035,00","R$ 412,23","R$ 7.447,23",NaN,Rua,LIBERO BADARO,425.0,36Âº ANDAR,40 H
3496,8878013,1,CAIO CHRISTOFOLLETTI,"PROFISSIONAL ENG, ARQ, AGRONOMIA,GEOLOGIA NIVEL I",QEAG1,GEOLOGIA,QEAG,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 7.035,00","R$ 412,23","R$ 7.447,23",NaN,Rua,LIBERO BADARO,425.0,36Âº ANDAR,40 H

In [26]:
mais_de_um_lancamento.duplicated().sum()

9

In [27]:
mais_de_um_lancamento[~mais_de_um_lancamento.duplicated()]

,REGISTRO,VINCULO,NOME,CARGO_BASICO,REF_CARGO_BAS,SEGMENTO,GRUPO,SUBGRUPO,ESCOL_CARGO_BASICO,CARGO_COMISSAO,...,dc_cargo_comissionado,vl_remuneracao_mensal,vl_outro_elemento_remuneracao,vl_remuneracao_total_bruta,cd_caso_especial,dc_tipo_logradouro_servidor,nm_logradouro_servidor,nr_logradouro_servidor,tx_complemento_logradouro_servidor,qt_hora_jornada_semanal
16,3033201,4,TOKIKO AKAMINE,ANALISTA DE ORDENAMENTO TERRITORIAL NIVEL IV,Q17,SOCIOLOGIA,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 16.609,81","R$ 2.325,37","R$ 18.935,18",NaN,Rua,ZILDA,193.0,NaN,JB DOCENTE
17,3033201,4,TOKIKO AKAMINE,ANALISTA DE ORDENAMENTO TERRITORIAL NIVEL IV,Q17,SOCIOLOGIA,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 16.043,35","R$ 5.929,03","R$ 21.972,38",NaN,Rua,DO PARAISO,387.0,NaN,40 H
427,6013651,2,MARCIA BATISTA NOGUEIRA SHIMODA,ANALISTA PLANEJAMENTO DESENV ORGANIZACIONAL NI...,Q10,CIENCIAS CONTABEIS,QAA,SUPERIOR,SUPERIOR COMPLETO,ASSESSOR II,...,ASSESSOR II,"R$ 9.283,14","R$ 1.711,86","R$ 10.995,00",NaN,Rua,AUGUSTA,435.0,7Âº ANDAR,40 H
678,6375677,3,ELAINE DE ALMEIDA SOUSA,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q1,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 3.729,56","R$ 815,50","R$ 4.545,06",NaN,Rua,AMERICO SALVADOR NOVELLI,154.0,1Âº ANDAR,30 H
679,6375677,3,ELAINE DE ALMEIDA SOUSA,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q1,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 6.108,77","R$ 1.018,13","R$ 7.126,90",NaN,Rua,SIRIA,300.0,NaN,30 H ESP ASST SOC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3378,8543780,1,CAMILA DUELIS VIANA,"PROFISSIONAL ENG, ARQ, AGRONOMIA,GEOLOGIA NIVEL I",QEAG1,GEOLOGIA,QEAG,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 7.035,00","R$ 333,71","R$ 7.368,71",NaN,Rua,LIBERO BADARO,425.0,36Âº ANDAR,40 H
3380,8543798,1,DAIANE KATYA CURTI,"PROFISSIONAL ENG, ARQ, AGRONOMIA,GEOLOGIA NIVEL I",QEAG1,GEOLOGIA,QEAG,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 7.035,00","R$ 2.541,30","R$ 9.576,30",NaN,Rua,LIBERO BADARO,425.0,36Âº ANDAR,40 H
3382,8543801,1,PAMELA RESSIGNELLI DE LIMA,"PROFISSIONAL ENG, ARQ, AGRONOMIA,GEOLOGIA NIVEL I",QEAG1,GEOLOGIA,QEAG,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 7.035,00","R$ 412,23","R$ 7.447,23",NaN,Rua,LIBERO BADARO,425.0,36Âº ANDAR,40 H
3403,8562431,1,SILVANA COSTA FERREIRA SENAHA,"PROFISSIONAL ENG, ARQ, AGRONOMIA,GEOLOGIA NIVEL I",QEAG1,GEOLOGIA,QEAG,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 7.035,00","R$ 1.095,75","R$ 8.130,75",NaN,Rua,LIBERO BADARO,425.0,36Âº ANDAR,40 H
3495,8878013,1,CAIO CHRISTOFOLLETTI,"PROFISSIONAL ENG, ARQ, AGRONOMIA,GEOLOGIA NIVEL I",QEAG1,GEOLOGIA,QEAG,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 7.035,00","R$ 412,23","R$ 7.447,23",NaN,Rua,LIBERO BADARO,425.0,36Âº ANDAR,40 H

In [28]:
len(mais_de_um_lancamento)/len(df_joined)

0.028253424657534245

Menos de 3% possuem mais de um lançamento. Isso pode ter ocorrido por erros na hora de extrair as bases de dados do SIGPEC. Ou porque a pessoa possui mais de um vínculo na Prefeitura. Por exemplo, ao pesquisar no portal de licenciamento vimos casos em que a mesma pessoa é um quadro técnico e também atua como professor, o que é permitido.

Por isso, vamos ordenar pela remuneração bruta, e manter o registro com a maior remuneração bruta.

In [29]:
def reais_para_float(item):
    
    if pd.isnull(item):
        return np.NaN
    item = item.replace('R$', '')
    item = item.strip()
    item = item.replace('.', '')
    item = item.replace(',', '.')
    
    return round(float(item),2)

In [30]:
df_joined['remuneracao_bruta_float'] = df_joined['vl_remuneracao_mensal'].apply(reais_para_float)

In [31]:
df_joined.sort_values(by=['REGISTRO','remuneracao_bruta_float'], inplace=True, ascending=False)

In [32]:
dropar_mais_de_um_lancamento = df_joined['REGISTRO'].duplicated(keep='first')

In [33]:
df_joined = df_joined[~dropar_mais_de_um_lancamento].reset_index(drop=True).copy()

In [34]:
len(df_joined)+len(servidores_fora)==len(quadros_tecnicos)

True

In [35]:
df_joined.to_csv('project_data/remuneracao_quadros_tecnicos_raw.csv', sep=';', encoding='utf-8')