In [1]:
import pandas as pd
import numpy as np

In [2]:
path_dados = 'original_data/aggregated/'

In [3]:
remuneracao_jul = pd.read_csv(path_dados+'remuneracao_transparencia_jul_2021.csv',
                             sep=';')

In [4]:
remuneracao_jul.sample(3)

,qtd_servidores_orgao,cd_registro_funcional,cd_tipo_vinculo,nm_servidor,tp_servidor,dc_secretaria,dc_cargo,dc_cargo_base,dc_cargo_comissionado,vl_remuneracao_mensal,vl_outro_elemento_remuneracao,vl_remuneracao_total_bruta,cd_caso_especial,dc_tipo_logradouro_servidor,nm_logradouro_servidor,nr_logradouro_servidor,tx_complemento_logradouro_servidor,qt_hora_jornada_semanal
111514,236,8810303,1,GIULIANA ALCANTARA BRAGA,ATIVOS,SECRETARIA MUNICIPAL DE INFRAESTRUTURA URBANA ...,ENCARREGADO DE EQUIPE,,ENCARREGADO DE EQUIPE,"R$ 1.299,46","R$ 1.305,84","R$ 2.605,30",NaN,Avenida,SAO JOAO,473.0,22Âº ANDAR,40 H
28770,82094,7761473,1,ADILSON FERNANDES DE OLIVEIRA,ATIVOS,SECRETARIA MUNICIPAL DE EDUCACAO,AUXILIAR TECNICO DE EDUCACAO CAT 1,AUXILIAR TECNICO DE EDUCACAO CAT 1,NaN,"R$ 2.229,30","R$ 795,87","R$ 3.025,17",NaN,Rua,SESSENTA E TRES,NaN,S/N,40 H
89743,82094,6400647,3,PAULO APARECIDO BERING,ATIVOS,SECRETARIA MUNICIPAL DE EDUCACAO,PROFESSOR ENSINO FUNDAMENTAL II E MEDIO CAT 3,PROFESSOR ENSINO FUNDAMENTAL II E MEDIO CAT 3,NaN,"R$ 10.353,43","R$ 644,66","R$ 10.998,09",4.0,Rua,TAJAL,NaN,S/N,JEI FORMACAO

In [5]:
remuneracao_jul.dtypes

qtd_servidores_orgao                    int64
cd_registro_funcional                   int64
cd_tipo_vinculo                         int64
nm_servidor                            object
tp_servidor                            object
dc_secretaria                          object
dc_cargo                               object
dc_cargo_base                          object
dc_cargo_comissionado                  object
vl_remuneracao_mensal                  object
vl_outro_elemento_remuneracao          object
vl_remuneracao_total_bruta             object
cd_caso_especial                      float64
dc_tipo_logradouro_servidor            object
nm_logradouro_servidor                 object
nr_logradouro_servidor                float64
tx_complemento_logradouro_servidor     object
qt_hora_jornada_semanal                object
dtype: object

In [6]:
quadros_tecnicos = pd.read_csv('project_data/quadros_tecnicos_pmsp.csv', sep=';')

In [7]:
quadros_tecnicos.sample(3)

,REGISTRO,VINCULO,NOME,CARGO_BASICO,REF_CARGO_BAS,SEGMENTO,GRUPO,SUBGRUPO,ESCOL_CARGO_BASICO,CARGO_COMISSAO,...,REL_JUR_ADM,SECRET_SUBPREF,SETOR,ORGAO_EXT,SEXO,ANO_NASCIMENTO,RACA,DEFICIENTE,nivel_limpo,cargo_limpo
1042,7110103,1,HENRIQUE WILLIAM TURNER,ANALISTA DE INFORMACOES CULTURA E DESPORTO NIV...,Q10,BIBLIOTECONOMIA,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,EFETIVO,SECRETARIA MUNICIPAL DE CULTURA,BIBLIOTECA PUBLICA MUNICIPAL MONTEIRO LOBATO,NaN,M,1961,BRANCA,NAO,II,ANALISTA DE INFORMACOES CULTURA E DESPORTO
23,3064778,4,JOSUE MAGLIARELLI,ESP DESENVOLVIMENTO URBANO NÍVEL II,S8,ARQUITETURA,PCCS,SUPERIOR,SUPERIOR COMPLETO,CHEFE DE SECAO TECNICA,...,EFETIVO,PROCURADORIA GERAL DO MUNICIPIO,SEGUNDO AGRUPAMENTO DE INFORMACOES E REGISTROS,NaN,M,1949,NAO INFORMADO,NAO,II,ESP DESENVOLVIMENTO URBANO
1446,7559330,1,GILBERTO KOJI ISHII,AUDITOR FISCAL TRIBUTARIO MUNICIPAL NII,QPAT-6,NaN,QPAT,SUPERIOR,SUPERIOR COMPLETO,ASSESSOR TECNICO I,...,EFETIVO,SECRETARIA MUNICIPAL DA FAZENDA,SUBSECRETARIA DA RECEITA MUNICIPAL,NaN,M,1968,AMARELA,NAO,II,AUDITOR FISCAL TRIBUTARIO MUNICIPAL

In [8]:
quadros_tecnicos.dtypes

REGISTRO                 int64
VINCULO                  int64
NOME                    object
CARGO_BASICO            object
REF_CARGO_BAS           object
SEGMENTO                object
GRUPO                   object
SUBGRUPO                object
ESCOL_CARGO_BASICO      object
CARGO_COMISSAO          object
REF_CARGO_COM           object
ESCOL_CARGO_COMISSAO    object
DATA_INICIO_EXERC       object
REL_JUR_ADM             object
SECRET_SUBPREF          object
SETOR                   object
ORGAO_EXT               object
SEXO                    object
ANO_NASCIMENTO           int64
RACA                    object
DEFICIENTE              object
nivel_limpo             object
cargo_limpo             object
dtype: object

In [9]:
quadros_tecnicos['REGISTRO'] = quadros_tecnicos['REGISTRO'].apply(lambda x: str(int(x)))
remuneracao_jul['cd_registro_funcional'] = remuneracao_jul['cd_registro_funcional'].apply(lambda x: str(int(x)))

In [10]:
quadros_tecnicos['REGISTRO'].duplicated().sum()

2

In [11]:
quadros_tecnicos[quadros_tecnicos['REGISTRO'].duplicated(keep=False)]

,REGISTRO,VINCULO,NOME,CARGO_BASICO,REF_CARGO_BAS,SEGMENTO,GRUPO,SUBGRUPO,ESCOL_CARGO_BASICO,CARGO_COMISSAO,...,REL_JUR_ADM,SECRET_SUBPREF,SETOR,ORGAO_EXT,SEXO,ANO_NASCIMENTO,RACA,DEFICIENTE,nivel_limpo,cargo_limpo
2961,8235511,1,KELLY MARGARETH SANTOS DA CUNHA,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q3,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,EFETIVO,SECRETARIA MUNICIPAL DE ASSIST E DESENV SOCIAL,CENTRO POP MOOCA,NaN,F,1982,PARDA,NAO,I,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL
2962,8235511,3,KELLY MARGARETH SANTOS DA CUNHA,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q4,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,EFETIVO,SECRETARIA MUNICIPAL DA SAUDE,HM DR. ALEXANDRE ZAIO,NaN,F,1982,PARDA,NAO,I,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL
3105,8303959,2,DENISE HARFUCH NAVARRO DIOGO TAVARES,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q1,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,EFETIVO,SECRETARIA MUNICIPAL DE ASSIST E DESENV SOCIAL,CRAS JARDIM ANGELA,NaN,F,1962,BRANCA,NAO,I,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL
3106,8303959,3,DENISE HARFUCH NAVARRO DIOGO TAVARES,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q4,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,EFETIVO,SECRETARIA MUNICIPAL DA SAUDE,HM DR. ARTHUR RIBEIRO DE SABOYA,NaN,F,1962,BRANCA,NAO,I,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL

In [12]:
dropar_primeiros_vinculos =  quadros_tecnicos['REGISTRO'].duplicated(keep='last')
quadros_tecnicos = quadros_tecnicos[~dropar_primeiros_vinculos].reset_index(drop=True).copy()

In [13]:
df_joined = pd.merge(quadros_tecnicos, remuneracao_jul, how='left', 
         left_on='REGISTRO', right_on='cd_registro_funcional')

In [14]:
ficaram_de_fora = set(rf for rf in quadros_tecnicos['REGISTRO'].unique() if rf not in df_joined['REGISTRO'].unique())

In [15]:
assert len(ficaram_de_fora) == 0

In [16]:
len(df_joined)==len(quadros_tecnicos)

False

In [17]:
df_joined['cd_registro_funcional'].isnull().sum()

98

In [18]:
r = df_joined[df_joined['cd_registro_funcional'].isnull()]['REGISTRO'].unique()

In [19]:
remuneracao_jul['cd_registro_funcional'].isin(r).sum()

0

In [20]:
sem_remuneracao_jul = df_joined[df_joined['cd_registro_funcional'].isnull()].index

In [21]:
len(sem_remuneracao_jul)/len(quadros_tecnicos)

0.02759009009009009

Menos de 3% dos registros não receberam em julho. Isso é possível devido a Licenças para Tratar de Interesses Particulares, ou outras formas de afastamento sem remuneração. Vamos removê-los.

In [22]:
df_joined.drop(sem_remuneracao_jul, inplace=True)

In [23]:
mais_de_um_lancamento = df_joined[df_joined['REGISTRO'].duplicated(keep=False)].sort_values(by='REGISTRO')

In [24]:
mais_de_um_lancamento.head(6)

,REGISTRO,VINCULO,NOME,CARGO_BASICO,REF_CARGO_BAS,SEGMENTO,GRUPO,SUBGRUPO,ESCOL_CARGO_BASICO,CARGO_COMISSAO,...,dc_cargo_comissionado,vl_remuneracao_mensal,vl_outro_elemento_remuneracao,vl_remuneracao_total_bruta,cd_caso_especial,dc_tipo_logradouro_servidor,nm_logradouro_servidor,nr_logradouro_servidor,tx_complemento_logradouro_servidor,qt_hora_jornada_semanal
17,3033201,4,TOKIKO AKAMINE,ANALISTA DE ORDENAMENTO TERRITORIAL NIVEL IV,Q17,SOCIOLOGIA,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 16.609,81","R$ 2.325,37","R$ 18.935,18",NaN,Rua,ZILDA,193.0,NaN,JB DOCENTE
18,3033201,4,TOKIKO AKAMINE,ANALISTA DE ORDENAMENTO TERRITORIAL NIVEL IV,Q17,SOCIOLOGIA,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 16.043,35","R$ 5.929,03","R$ 21.972,38",NaN,Rua,DO PARAISO,387.0,NaN,40 H
441,6013651,2,MARCIA BATISTA NOGUEIRA SHIMODA,ANALISTA PLANEJAMENTO DESENV ORGANIZACIONAL NI...,Q10,CIENCIAS CONTABEIS,QAA,SUPERIOR,SUPERIOR COMPLETO,ASSESSOR II,...,ASSESSOR II,"R$ 9.283,14","R$ 1.711,86","R$ 10.995,00",NaN,Rua,AUGUSTA,435.0,7Âº ANDAR,40 H
442,6013651,2,MARCIA BATISTA NOGUEIRA SHIMODA,ANALISTA PLANEJAMENTO DESENV ORGANIZACIONAL NI...,Q10,CIENCIAS CONTABEIS,QAA,SUPERIOR,SUPERIOR COMPLETO,ASSESSOR II,...,ASSESSOR II,"R$ 9.283,14","R$ 1.711,86","R$ 10.995,00",NaN,Rua,AUGUSTA,435.0,7Âº ANDAR,40 H
706,6375677,3,ELAINE DE ALMEIDA SOUSA,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q1,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 3.729,56","R$ 815,50","R$ 4.545,06",NaN,Rua,AMERICO SALVADOR NOVELLI,154.0,1Âº ANDAR,30 H
707,6375677,3,ELAINE DE ALMEIDA SOUSA,ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NI...,Q1,SERVICO SOCIAL,QAA,SUPERIOR,SUPERIOR COMPLETO,NaN,...,NaN,"R$ 6.108,77","R$ 1.018,13","R$ 7.126,90",NaN,Rua,SIRIA,300.0,NaN,30 H ESP ASST SOC

In [25]:
len(mais_de_um_lancamento)/len(df_joined)

0.028253424657534245

Menos de 3% possuem mais de um lançamento. Nestes casos, tudo indica que a pessoa possui mais de um vínculo na Prefeitura. Por exemplo, ao pesquisar manualmente alguns nomes no portal da transparência, vimos casos em que a mesma pessoa é um quadro técnico e também atua como professor, o que é permitido.

Vamos remover os que vínculos relacionados aos cargos de professor.

In [26]:
mais_de_um_lancamento['dc_cargo_base'].unique()

array(['PROFESSOR ENSINO FUNDAMENTAL II E MEDIO CAT 3',
       'ANALISTA DE ORDENAMENTO TERRITORIAL NIVEL IV',
       'ANALISTA PLANEJAMENTO DESENV ORGANIZACIONAL NIVEL II',
       'ASSISTENTE DE SAUDE  NIVEL II',
       'ANALISTA ASSISTENCIA DESENVOLVIMENTO SOCIAL NIVEL I',
       'ESP INFORM TECN CULTURAIS E DESPORTIVAS NÃ\x8dVEL II',
       'ANALISTA DE INFORMACOES CULTURA E DESPORTO NIVEL II',
       'PROFESSOR ED INFANTIL E ENS FUNDAMENTAL CAT 3',
       'ANALISTA DE INFORMACOES CULTURA E DESPORTO NIVEL I',
       'PROFISSIONAL ENG, ARQ, AGRONOMIA,GEOLOGIA NIVEL I'], dtype=object)

In [27]:
cargos_professor = [
    'PROFESSOR ENSINO FUNDAMENTAL II E MEDIO CAT 3',
    'PROFESSOR ED INFANTIL E ENS FUNDAMENTAL CAT 3'
]

In [28]:
index_professores = mais_de_um_lancamento['dc_cargo_base'].isin(cargos_professor).index

In [29]:
df_joined.drop(index_professores, inplace=True)

In [30]:
df_joined['REGISTRO'].duplicated(keep=False).sum()

0

Pronto, removemos as duplicadas!

In [31]:
df_joined.to_csv('project_data/remuneracao_quadros_tecnicos_raw.csv', sep=';', encoding='utf-8')